* {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* Header section */
}
body .header {
  background-image: url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.header h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  padding-top: 250px;
  margin-bottom: 20px;
}
.header h3 {
  text-align: center;
  color: white;
  padding: 0px 250px;
  margin-bottom: 20px;
}
.header .btn {
  background-color: coral;
  border: none;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  display: flex;
}

/* Donationn section */
.donate h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
}
.donate h4 {
  text-align: center;
  padding: 0px 250px;
  margin-bottom: 20px;
  color: rgb(7, 7, 7);
}
#button {
  text-align: center;
}
.donate button {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(250, 188, 166);
  border: none;
  padding: 20px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.donate .active-button {
  border: 5px solid #f71f3c;
  background-color: rgb(255, 159, 124);
}
.donate input {
  text-align: center;
  border: none;
  margin: 0 auto;
  display: block;
}
hr {
  margin: 0px 290px 30px 290px;
}

.donate .btn {
  background-color: coral;
  border: none;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  display: flex;
}

/* Donation pLanning */
.planning h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
}
.planning .parent {
  display: flex;
  padding: 60px;
}
.parent img {
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
}
.planning .parent .food {
  background-color: burlywood;
  border-radius: 15px;
  width: 400px;
  margin-right: 10px;
  padding: 40px;
}
.planning .parent .medicine {
  background-color: rgb(240, 149, 31);
  padding: 40px;
  border-radius: 15px;
  width: 400px;
  margin-right: 10px;
}
.planning .parent .education {
  background-color: rgb(89, 86, 245);
  padding: 40px;
  border-radius: 15px;
  margin-right: 10px;
  width: 400px;
}

/* donation so far section */

.donationwemade {
  text-align: center;
  margin: 0 auto;
}
.donationwemade img {
  width: 300px;
  height: 250px;
  border-radius: 5px;
  margin: 5px 5px 30px 5px;
}

/* update section */
.updates h1 {
  text-align: center;
}
.updates p {
  padding: 0px 300px;
}
.mail-section {
  background-color: #f71f3c;
  padding: 100px;
  margin: 40px 300px 40px;
  text-align: center;
  border-radius: 5px;
}
.mail-section input {
  height: 34px;
  border-radius: 5px 0px 0px 5px;
  border: none;
  margin-right: -4px;
}

.btn {
  background-color: coral;
  border: none;
  padding: 10px;
  border-radius: 0px 5px 5px 0px;
  margin-left: -4px;
}
/* Footer section */
footer {
  background-color: rgb(22, 21, 21);
  text-align: center;
  padding: 40px 0px;
}
footer > h1 {
  font-family: "Arima", cursive;
  color: white;
  font-size: 40px;
}

footer > p {
  font-family: "Arima", cursive;
  color: white;
}
