/* font-family: "Arima", cursive; */
* {
  margin: 0px;
}
body {
  background-image: url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.header h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  padding-top: 150px;
}
